[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/userhome/.Xauthority"
ExecStart=/wfs/update-user-cancel

[Install]
WantedBy=igel-default-boot.target

#systemctl disable foo.service
#systemctl enable foo.timer
#=== Stuff from sebkur
#systemd-run --unit="update-script" --on-calendar="Tue *-*-* 01:00:00" /wfs/updatescript
