[Unit]
Description="Allow user to cancel firmware update"

[Timer]
OnActiveSec=10
RemainAfterElapse=no
#OnBootSec=3min
# If you only want this to happen once a day, uncomment
#OnUnitActiveSec=24h
Unit=update-user-cancel.service

[Install]
PartOf=igel-default-boot.target
After=igel-default-boot.target
